/*************************************/
/* MEDIA QUEIRES (RESPONSIVENESS)*/
/*************************************/

@media only screen and (max-width: 425px) {
    /* Smartphone view: 1 tile */
    .product-item {
        width: 100%;
        align-items: center;
        display: flex;
    }
}

@media only screen and (max-width: 767px) and (min-width: 426px) {
    /* Tablet view: 2 tiles */
    .product-item {
        width: 50%;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* Small desktop / ipad view: 3 tiles */
    .product-item {
        width: 35%;
        align-items: center;
        display: flex;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
    /* Medium desktop: 4 tiles */
    .product-item {
        width: 25%;
        align-items: center;
        display: flex;
    }
}
